@media screen and (max-width: 480px) {
    .header__nav a {
        margin: 0 30px 0 0;
    }
    .header__headline {
        text-align: center;
    }
    .headline__description {
        margin: 0 auto 50px auto;
    }
    .main__whoweare {
        margin: 50px 0 0 0;
    }
    .text__title {
        margin: 0 auto;
        text-align: center;
    }
    .text__description {
        margin: 0 auto;
        text-align: center;
    }
    .main__features {
        margin: 50px 0 0 0;
        
    }
    .features__title {
        width: 100%;
    }
    .features__description {
        width: 100%;
        margin: 20px auto 0 auto;
    }
    .features__items div:nth-child(-n+1) {
        margin-bottom: 20px;
    }
    .items__search img, .items__access img, .items__print img, .items__security img {
        display: none;
     }
     .items__access {
        margin: 0 0 20px 0; 
    }
    .items__print {
        margin: 0 0 20px 0; 
    }
    .items__security {
        margin: 0 0 20px 0; 
    }
    .search__title, .access__title, .print__title, .security__title {
        margin: 20px 0 20px 0;
    }
    .search__description, .access__description, .print__description, .security__description {
        margin: 0 auto 20px auto;
    }
    .items__btn {
        margin: 70px 0 0 150px;
        font-size: 10px;
    }

    .main__testimonials {
        margin: 50px 0 50px 0;
    }
    .testimonials__title {
        padding: 10px 0 0 20px;
    }
    .testimonials__slides {
        margin: 20px 0 0 20px;
    }
    footer {
        height: 320px;
    }
    hr {
        display: none;
    }
    .item__logo {
        margin: 0 0 20px 0;
    }
    .logo__text {
        display: none;
    }
    .item__title {
        margin: 0 0 10px 0;
    }
    .item__description {
        margin: 0 0 10px 0;
    }
    .container__social:not(:last-child) {
        margin: 0 0 15px 0;
    }
    .item__container {
        flex-direction: column;
        margin: 0 0 15px 20px;
    }
}

@media screen and (max-width: 1201px) {
    .header__headline, .headline__title, .headline__description {
      width: 100%;
    }
    .headline__img img, .items_img img {
        display: none;
    }
}

@media screen and (min-width: 1201px) {
    .items__access {
        margin: 0 0 0 0; 
    }
    .items__security {
        margin: 0 0 0 0; 
    }
    .features__items {
        justify-content: center;
    }
}

