@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    color: #4B5D68;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

header {
    padding: 60px 0 0 0;
}

.header__nav {
    width: fit-content;
}

.header__nav a {
    margin: 0 120px 0 0;
}

@media screen and (max-width: 400px) {
    .header__nav a {
        margin: 0 30px 0 0;
    }
}

.nav__logo {
    min-width: 50px;
}

.nav__items a:not(:last-child) {
    margin: 0 40px 0 0;
}

.nav__items a:hover {
    color: black;
}

.header__headline {
    width: 67%;
    margin: 145px 0 0 0;
    position: relative;
}

@media screen and (max-width: 400px) {
    .header__headline {
        text-align: center;
    }
}

.headline__title {
    font-weight: 700;
    font-size: 80px;
    color: #212353;
    margin: 0 0 50px 0;
    line-height: 110%;
}

@media screen and (max-width: 400px) {
    .header__headline, .headline__title, .headline__description {
      width: 100%;
    }
}

.headline__description {
    width: 60%;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin: 0 0 50px 0;
}

@media screen and (max-width: 400px) {
    .headline__description {
        margin: 0 auto 50px auto;
    }
}

.headline__btn {
    width: 170px;
    height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    font-weight: 800;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    cursor: pointer;
}

.headline__img {
    position: absolute;
    right: -90%;
    top: 100px;
}

.headline__img img {
    object-fit: cover;
    max-width: 80%;
    height: 100%;
    object-position: 0 0;
}

@media screen and (max-width: 400px) {
    .headline__img img, .items_img img {
        display: none;
    }
}

.main__whoweare {
    margin: 170px 0 0 0;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;    
}

@media screen and (max-width: 400px) {
    .main__whoweare {
        margin: 50px 0 0 0;
    }
}

.text__title {
    margin: 125px 0 0 65px;
    width: 75%;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;  
    color: #212353;
}

@media screen and (max-width: 400px) {
    .text__title {
        margin: 0 auto;
        text-align: center;
    }
}

.text__description {
    margin: 40px 0 0 65px;
    width: 79%;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

@media screen and (max-width: 400px) {
    .text__description {
        margin: 0 auto;
        text-align: center;
    }
}

.main__features {
    margin: 150px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .main__features {
        margin: 50px 0 0 0;
        
    }
}

.features__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #212353;
    width: 30%;
    margin: 0 auto;
}

@media screen and (max-width: 400px) {
    .features__title {
        width: 100%;
    }
}

.features__description {
    width: 55%;
    margin: 50px auto 0 auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}

@media screen and (max-width: 400px) {
    .features__description {
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

.features__items {
    justify-content: right;
    margin: 100px 0 0 0;
    border-radius: 50px;
}

.features__items div:nth-child(-n+1) {
    margin-bottom: 50px;
}

@media screen and (max-width: 400px) {
    .features__items div:nth-child(-n+1) {
        margin-bottom: 20px;
    }
}

.items__search {
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .items__search img, .items__access img, .items__print img, .items__security img {
       display: none;
    }
}

.items__access {
    background-image: url(../img/access.png);
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    margin: 0 0 0 150px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .items__access {
        margin: 0 0 20px 0; 
    }
}

.items__print {
    background-image: url(../img/print.png);
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .items__print {
        margin: 0 0 20px 0; 
    }
}

.items__security {
    background-image: url(../img/security.png);
    background-repeat: no-repeat;
    width: 442px;
    height: 358px;
    margin: 0 0 0 150px;
    position: relative;
}

@media screen and (max-width: 400px) {
    .items__security {
        margin: 0 0 20px 0; 
    }
}

.search__title, .access__title, .print__title, .security__title {
    margin: 50px 0 20px 0;
    font-size: 24px;
    line-height: 130%;
    color: #212353;
}

@media screen and (max-width: 400px) {
    .search__title, .access__title, .print__title, .security__title {
        margin: 20px 0 20px 0;
    }
}

.search__description, .access__description, .print__description, .security__description {
    width: 50%;
    height: 160px;
    font-size: 16px;
    line-height: 160%;
    margin: 0 auto 20px auto;
    text-align: justify;
}

@media screen and (max-width: 400px) {
    .search__description, .access__description, .print__description, .security__description {
        margin: 0 auto 20px auto;
    }
}

.items__search img {
    position: absolute;
    left: -120px;
    top: 73px;
}

.items__access img {
    position: absolute;
    left: -130px;
    top: 73px;
}

.items__print img {
    position: absolute;
    left: -120px;
    top: 73px;
}

.items__security img {
    position: absolute;
    left: -130px;
    top: 73px;
}

.items__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    color: #212353;
}

@media screen and (max-width: 400px) {
    .items__btn {
        margin: 70px 0 0 150px;
    }
}

.main__testimonials {
    margin: 150px 0 150px 0;
    background: #9C69E2;
    border-radius: 50px;
}

@media screen and (max-width: 400px) {
    .main__testimonials {
        margin: 50px 0 50px 0;
    }
}

.testimonials__title {
    padding: 110px 0 90px 95px;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    width: fit-content;
}

@media screen and (max-width: 400px) {
    .testimonials__title {
        padding: 10px 0 0 20px;
    }
}

.testimonials__slides {
    margin: 0 0 0 95px;
}

@media screen and (max-width: 400px) {
    .testimonials__slides {
        margin: 20px 0 0 20px;
    }
}

.slide__first {
    width: 645px;
    height: 330px;
    background-color: white;
    box-shadow: 0 20px 0 rgba(156, 0, 226, .3);
    border-radius: 20px;
    margin: 0 20px 130px 0;
}

.box__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    color: #212353;
}

.box__text a {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #9C69E2;
}

.box__description {
    width: 45%;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
    margin: 20px 0 0 0;
}

.box__text {
    margin: 20px 0 0 30px;
}

.slide__box {
    padding: 60px 0 0 70px;
    flex-shrink: 0;
    width: 1000px;
}

.slide__second {
    width: 400px;
    height: 330px;
    background-color: white;
    box-shadow: 0 20px 0 rgba(126, 53, 160, 0.1);
    border: 1px solid #9C69E2;
    border-radius: 20px;
    margin: 0 20px 130px 0;
}

.slide__third {
    width: 400px;
    height: 330px;
    background-color: white;
    box-shadow: 0 20px 0 rgba(126, 53, 160, 0.1);
    border: 1px solid #9C69E2;
    border-radius: 20px;
    margin: 0 20px 130px 0;
}

footer {
    width: auto;
    height: 370px;
}

@media screen and (max-width: 400px) {
    footer {
        height: 320px;
    }
}

hr {
    width: 100%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 0 0 165px 0;
}

@media screen and (max-width: 400px) {
    hr {
        display: none;
    }
}

.footer__container {
    justify-content: space-between;
}

.item__logo {
    margin: 0 0 65px 0;
}

@media screen and (max-width: 400px) {
    .item__logo {
        margin: 0 0 20px 0;
    }
}

.logo__text {
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: #212353;
    margin: 0 0 0 20px;
}

@media screen and (max-width: 400px) {
    .logo__text {
        display: none;
    }
}

.item__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 0 0 30px 0;
}

@media screen and (max-width: 400px) {
    .item__title {
        margin: 0 0 10px 0;
    }
}

.item__description {
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;
    margin: 0 0 35px 0;
}

@media screen and (max-width: 400px) {
    .item__description {
        margin: 0 0 10px 0;
    }
}

.item__copyright {
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: #212353;     
}

.container__social {
    width: 50px;
    height: 50px;
    background: #212353;
    opacity: 0.1;
    border-radius: 50%;
}

.container__social:not(:last-child) {
    margin: 0 15px 0 0;
}

@media screen and (max-width: 400px) {
    .container__social:not(:last-child) {
        margin: 0 0 15px 0;
    }
}

@media screen and (max-width: 400px) {
    .item__container {
        flex-direction: column;
        margin: 0 0 15px 20px;
        ;
    }
}

.container__social img {
    display: block;
    margin: 0 auto;
    padding: 16px 0 0 0;
}

.container__social:hover {
    background:black;
    opacity: 0.3;
}